[req]
distinguished_name=name
req_extensions=x509_ext
default_bits=4096
default_keyfile=pk.pem
encrypt_key=no
utf8=yes
prompt=no

[name]
countryName="PL"
stateOrProvinceName="Dolnyśląsk"
localityName="Wrocław"
organizationName="Usługi Kryptograficzne Sp. z o.o."
organizationalUnitName="Kryptografia Wrocław"
commonName="www.krypto.example"
emailAddress="administracja@krypto.example"


[x509_ext]

basicConstraints=critical, CA:FALSE
keyUsage=critical, digitalSignature, nonRepudiation, keyEncipherment, keyAgreement

